<nav class="app-bar flex lg:flex-col ">
	<div class="flex items-center container py-4 px-4 lg:px-0">
		<div class="brand z-5 lg:w-auto w-56">
			<a href="{{'index' | r}}" title="首頁">
				<img class="logo link" src="{{ '/images/logo.jpg'| assets }}" title="網站logo" alt="網站logo">
			</a>
		</div>
		<ul class="icons nav --normal  flex ml-auto">

			{% if isLogined == true %}

				<li class="item item-account px-1">
					<a href="{{'member'|r}}" class="link flex items-center" title="會員專區">
						<img class="w-6 inline-block" src="{{'images/user-circle.svg' | assets}}" aria-hidden="true" alt="icon">
						會員專區
						{# <span class="sr-only">會員專區</span> #}
					</a>
				</li>
			{% else %}
				<li class="item">
					<a href="{{'login'|r}}" class="link px-2" title="登入">登入</a>
				</li>
				<li class="item">
					<a href="{{'register'|r}}" class="link px-2" title="註冊">註冊</a>
				</li>
				<li class="item">
					<a href="javascript:;" class="cart gee link px-2" data-gene="click:modal.toggle" data-ta=".modal-search">
						<i class="icon icon-search mx-0" aria-hidden="true"></i>
					</a>
				</li>
				<li class="item  lg:hidden xs:block ">
					<a class="gee link" data-gene="click:drawer.toggle" data-ta="{{toggle is defined ? toggle :'.app-bar .menu'}}">
						<i class="icon icon-menu"></i>
						<span class="sr-only">Toggle</span>
					</a>
				</li>
			{% endif %}
		</ul>
		{# <div class="item toggler lg:hidden xs:block ">
							<button class="gee link" data-gene="click:drawer.toggle" data-ta="{{toggle is defined ? toggle :'.app-bar .menu'}}">
								<i class="icon icon-menu"></i>
								<span class="sr-only">Toggle</span>
							</button>
						</div> #}
	</div>
	<div class="menu drawer w-full lg:w-auto md:drawer --left ">
		<a href="javascript:;" class="close" title="關閉選單">
			<i class="icon icon-close" aria-hidden="true"></i>
			<span class="sr-only">關閉選單</span>
		</a>
		{% set menu = [
			{
				title:'首頁',
				uri:'/index.html',
			},
			{
				title:'最新消息',
				uri:'/archive-press.html',
			},
			{
				title:'職場安全健康週專區',
				uri:'/archive-event.html',

			},
			{
				title:'意見信箱',
				uri:'/contact.html',

			},
			{
				title:'網站導覽',
				uri:'/sitemap.html',

			},
		] %}
		<div class="container flex lg:justify-end bg-primary h-full lg:h-auto">
			<ul class="nav --normal flex lg:flex-row flex-col ">
				{% for item in menu %}
					<li class="item  {{ item.class }}">
						<a class="link flex items-center" href="{{ item.uri }}" title="{{ item.title }}">
							{{ item.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
