{% set page = 'index' %}
{% extends "@layouts/base.twig" %}
{% block necker %}
	<div class="container max-w-full relative">
		<div class="index-necker flex justify-center items-center" style="background-image:url({{'images/index-banner.jpg'|assets}})">
			<h1 class='section-title text-white'>POWER FOR POSSIBLE</h1>
		</div>
		{% include "@core/cmpt/ribbon/ribbon.twig" with {
			class: 'top-0 right-0 mt-12 mt-8 flip',
			color: 'pink',
			animate: true,
		}%}
		{% include "@core/cmpt/ribbon/ribbon.twig" with {
			class: ' top-1/2 left-0',
			color: 'blue',
			animate: true,
		}%}
		{% include "@core/cmpt/ribbon/ribbon.twig" with {
			class: 'bottom-0 left-1/3 -mb-6 flip',
			color: 'yellow',
			type: 'small',
		}%}
	</div>
{% endblock %}
{% block bodier %}
	<div class="index-container">
		<section class="bg-gray relative">
			<div class="container py-14">
				<h2 class="text-xl font-black text-center ">WHY FUDY SOLUTIONS?</h2>
				<h1 class="section-title text-center">OUR ADVANTAGES</h1>

				<div class="mt-4 tag-list space-x-8">
					<div class='bg-blue tag-list-item'>
						<img src="{{'images/service-icon1.png'|assets}}" alt="">
						<h3 class='txt'>Research power</h3>
					</div>
					<div class='bg-pink tag-list-item'>
						<img src="{{'images/service-icon2.png'|assets}}" alt="">
						<h3 class='txt'>Design power</h3>
					</div>
					<div class='bg-black tag-list-item'>
						<img src="{{'images/service-icon3.png'|assets}}" alt="">
						<h3 class='txt text-white'>Problem-solving power</h3>
					</div>
					<div class='bg-yellow tag-list-item'>
						<img src="{{'images/service-icon4.png'|assets}}" alt="">
						<h3 class='txt'>Management power</h3>
					</div>
					<div class='bg-white tag-list-item'>
						<img src="{{'images/service-icon5.png'|assets}}" alt="">
						<h3 class='txt'>Confidential power</h3>
					</div>
				</div>

			</div>
			{% include "@core/cmpt/ribbon/ribbon.twig" with {
				class: 'right-0 top-0 mt-12 flip',
				color: 'blue',
				type: 'small',
			}%}
			{% include "@core/cmpt/ribbon/ribbon.twig" with {
				class: 'left-0 bottom-0 mb-14 ',
				color: 'pink',
				animate: true,
			}%}
		</section>


		<div
			id='index-adventages' class='gee' data-gene="init:initScrollMagic">

			{# RESEARCH #}
			<section class="ad-section  ads-1 bg-blue">
				<div class="section-container">
					<div class="picWrap gee" data-gene="init:up-loop-infinte">
						<div class="pic">
							<div class="imgWrap w-full">
								<img class="w-full" src="{{'images/box_handline.png'|assets}}" alt="">
								<img class="w-full" src="{{'images/box_handline.png'|assets}}" alt="">
							</div>
						</div>
					</div>
					<div class="textWrap">
						<div class="section-title text-white">RESEARCH<br>POWER</div>
						<div class="ad-content bg-black">
							{{"Vestedin market research and industry leading manufacturing technologies to create customizable, innovative,and provenpackaging solutions."|t}}
						</div>
					</div>

				</div>
				{% include "@core/cmpt/ribbon/ribbon.twig" with {
					class: 'right-0 bottom-0 mb-2 flip',
					color: 'yellow',
					animate: true,
				}%}
			</section>

			{# DESIGN #}
			<section class="ad-section  ads-2 bg-pink">
				<div class="section-container">
					<div class="picWrap boxlines">
						<div class="pic p6" style="background-image:url({{'images/box_line6.png'|assets}})"></div>
						<div class="pic p5" style="background-image:url({{'images/box_line5.png'|assets}})"></div>
						<div class="pic p4" style="background-image:url({{'images/box_line4.png'|assets}})"></div>
						<div class="pic p3" style="background-image:url({{'images/box_line3.png'|assets}})"></div>
						<div class="pic p2" style="background-image:url({{'images/box_line2.png'|assets}})"></div>
						<div class="pic p1" style="background-image:url({{'images/box_line1.png'|assets}})"></div>
					</div>
					<div class="textWrap">
						<div class="section-title text-white">DESIGN<br>POWER</div>
						<div class="ad-content bg-black">
							n-house design teamspecialized in structural 2D design and 3D techniques. Proven experience with continuous innovation, and ability to transform product packaging imagination into reality with unrivaled precision and accuracy.
						</div>
						{% include "@core/cmpt/ribbon/ribbon.twig" with {
							class: 'left-1/5 bottom-0 -mb-8 flip',
							color: 'yellow',
							type: 'small',
						}%}
						{% include "@core/cmpt/ribbon/ribbon.twig" with {
							class: 'right-0 top-0 mt-16  -mr-32 flip',
							color: 'blue',
							width: 150,
							animate: true,
						}%}
					</div>
				</div>
			</section>

			{# PROBLEM SOLVING #}
			<section class="ad-section ads-3 " style='background-color: #221815;	'>
				<div class="section-container">
					<div class="picWrap boxs">
						<div class="pic p11" style="background-image:url({{'images/box11.png'|assets}})"></div>
						<div class="pic p1" style="background-image:url({{'images/box1.png'|assets}})"></div>
						<div class="pic p2" style="background-image:url({{'images/box2.png'|assets}})"></div>
						<div class="pic p3" style="background-image:url({{'images/box3.png'|assets}})"></div>
						<div class="pic p4" style="background-image:url({{'images/box4.png'|assets}})"></div>
						<div class="pic p5" style="background-image:url({{'images/box5.png'|assets}})"></div>
						<div class="pic p6" style="background-image:url({{'images/box6.png'|assets}})"></div>
						<div class="pic p7" style="background-image:url({{'images/box7.png'|assets}})"></div>
						<div class="pic p8" style="background-image:url({{'images/box8.png'|assets}})"></div>
						<div class="pic p9" style="background-image:url({{'images/box9.png'|assets}})"></div>
						<div class="pic p10" style="background-image:url({{'images/box10.png'|assets}})"></div>
					</div>
					<div class="textWrap">
						<div class="section-title text-white">PROBLEM-
							<br>SOLVING
							<br>POWER</div>
						<div class="ad-content bg-pink">
							Integrated international resources across the world, dedicated to offer a one-stop service.Collaborate in every step of the development process from ideation, design, qualification,manufacturing, and supply chain execution.
						</div>
					</div>
						{% include "@core/cmpt/ribbon/ribbon.twig" with {
							class: 'left-0 top-0 -mt-16',
							color: 'blue',
							animate: true,
						}%}
						{% include "@core/cmpt/ribbon/ribbon.twig" with {
							class: 'right-0 bottom-0 mb-16 mr-4 flip',
							color: 'pink',
							type: 'small',
						}%}
				</div>
			</section>

			{# MANAGEMENT #}
			<section class="ad-section ads-4  bg-yellow">
				<div class="section-container">
					<div class="picWrap boxs">
						<div class="pic p11" style="background-image:url({{'images/box11.png'|assets}})"></div>
						<div class="pic p1" style="background-image:url({{'images/box1.png'|assets}})"></div>
						<div class="pic p2" style="background-image:url({{'images/box2.png'|assets}})"></div>
						<div class="pic p3" style="background-image:url({{'images/box3.png'|assets}})"></div>
						<div class="pic p4" style="background-image:url({{'images/box4.png'|assets}})"></div>
						<div class="pic p5" style="background-image:url({{'images/box5.png'|assets}})"></div>
						<div class="pic p6" style="background-image:url({{'images/box6.png'|assets}})"></div>
						<div class="pic p7" style="background-image:url({{'images/box7.png'|assets}})"></div>
						<div class="pic p8" style="background-image:url({{'images/box8.png'|assets}})"></div>
						<div class="pic p9" style="background-image:url({{'images/box9.png'|assets}})"></div>
						<div class="pic p10" style="background-image:url({{'images/box10.png'|assets}})"></div>
					</div>
					<div class="textWrap">
						<div class="section-title">MANAGEMENT<br>POWER</div>
						<div class="ad-content bg-blue">
							Dedicated quality management team responsible for driving best-in-class execution of your product through Fudy manufacturing facilities.  Data driven approach to managing manufacturing precision from raw material to finished goods.
							{% include "@core/cmpt/ribbon/ribbon.twig" with {
								class: 'right-0 top-0 -mr-8 flip',
								color: 'black',
								type: 'small',
							}%}
							{% include "@core/cmpt/ribbon/ribbon.twig" with {
								class: 'left-1/5 bottom-0 transform translate-y-full mb-4',
								color: 'pink',
								animate: true,
							}%}
						</div>
					</div>

				</div>
			</section>

			{# CONFIDENTIAL #}
			<section class="ad-section ads-5  bg-gray">
				<div class="section-container">
					<div class="picWrap">
						<div class="pic" style="background-image:url({{'images/box.png'|assets}})"></div>
					</div>
					<div class="textWrap">
						<div class="section-title">CONFIDENTIAL
							<br>POWER</div>
						<div class="ad-content text-black pt-0">
							Security throughout the development process to ensure that customer confidentiality is maintained at the highest level.   Private printing rooms and security controlled assembly facilities provide isolation of confidential programs.
							{% include "@core/cmpt/ribbon/ribbon.twig" with {
								class: 'bottom-0 right-0 flip -mr-16',
								color: 'pink',
								type: 'small',
							}%}
						</div>
					</div>
					{% include "@core/cmpt/ribbon/ribbon.twig" with {
						class: 'right-0 top-0 mr-4 mt-16 flip',
						color: 'yellow',
						animate: true,
					}%}
					{% include "@core/cmpt/ribbon/ribbon.twig" with {
						class: 'top-0 -mt-16 left-1/5',
						color: 'blue',
						animate: true,
					}%}
				</div>
			</section>


			<div class="ad-nav text-xs text-right space-y-2">
				{% include "@core/cmpt/ribbonNavItem/ribbonNavItem.twig" with {
					class: 'active',
					txt: 'RESEARCH<br>POWER',
				}%}
				{% include "@core/cmpt/ribbonNavItem/ribbonNavItem.twig" with {
					txt: 'DESIGN<br>POWER',
				}%}
				{% include "@core/cmpt/ribbonNavItem/ribbonNavItem.twig" with {
					txt: 'PROBLEM-SOLVING<br>POWER',
				}%}
				{% include "@core/cmpt/ribbonNavItem/ribbonNavItem.twig" with {
					txt: 'MANAGEMENT<br>POWER',
				}%}
				{% include "@core/cmpt/ribbonNavItem/ribbonNavItem.twig" with {
					txt: 'CONFIDENTIAL<br>POWER',
				}%}
			</div>
		</div>

		{# 最新產品 #}
		{% set new_products = [{
			title: 'Google NEST MINI',
			color: 'pink',
			link: '#',
			thumbnail: {
				src: 'images/product-demo1.jpg',
			},
		},{
			title: 'Google NEST MINI',
			color: 'blue',
			link: '#',
			thumbnail: {
				src: 'images/product-demo2.jpg',
			},
		}] %}
		{% for item in new_products %}
			{% include "@cmpt/productBtn/productBtn.twig" with  { item:item } %}
		{% endfor %}


		{# 開始專案 #}
		{% include "@cmpt/startProject/startProject.twig" %}

	
		
		{# 客戶群#}
		{% set clients = [{
			thumbnail: {
				src: 'images/client1.png',
				alt: '',
			}
		},{
			thumbnail: {
				src: 'images/client2.png',
				alt: '',
			}
		},{
			thumbnail: {
				src: 'images/client3.png',
				alt: '',
			}
		},{
			thumbnail: {
				src: 'images/client4.png',
				alt: '',
			}
		},{
			thumbnail: {
				src: 'images/client5.png',
				alt: '',
			}
		},{
			thumbnail: {
				src: 'images/client6.png',
				alt: '',
			}
		},{
			thumbnail: {
				src: 'images/client7.png',
				alt: '',
			}
		},{
			thumbnail: {
				src: 'images/client8.png',
				alt: '',
			}
		}] %}
		{% include "@cmpt/clients/clients.twig" with clients %}
		
		
	</div>
{% endblock %}
