<div
	class="share inline-flex justify-center">
	{# TUMBLR #}

	{% if 'tumblr' in fields %}
		<a class="{{btn_cls}}" target="_blank" title="tumblr" href="https://www.tumblr.com/share/link?url={{ link }}&name={{ title }}&description={{  excerpt }}">
			<i class="icon icon-tumblr " aria-hidden="true"></i>
			<span class="sr-only">分享到tumblr</span>
		</a>
	{% endif %}
	{# FACEBOOK #}
	{% if 'facebook' in fields  %}
		<a class="{{btn_cls}}" target="_blank" title="Facebook" href="http://www.facebook.com/sharer.php?u={{ link }}">
			<i class="icon icon-facebook " aria-hidden="true"></i>
			<span class="sr-only">分享到facebook</span>
		</a>
	{% endif %}
	{% if 'facebookf' in fields %}
		<a class="{{btn_cls}}" target="_blank" title="Facebook" href="http://www.facebook.com/sharer.php?u={{ link }}">
			<i class="icon icon-facebook-f " aria-hidden="true"></i>
			<span class="sr-only">分享到facebook</span>
		</a>
	{% endif %}
	{# LINKEDIN #}
	{% if 'linkedin' in fields %}
		<a class="{{btn_cls}}" target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?url={{ link }}&title={{ title }}">
			<i class="icon icon-linkedin" aria-hidden="true"></i>
			<span class="sr-only">分享到linkedin</span>
		</a>
	{% endif %}
	{# TWITTER #}
	{% if 'twitter' in fields %}
		<a class="{{btn_cls}}" target="_blank" title="Twitter" href="https://twitter.com/share?url={{ link }}&text={{ title }}">
			<i class="icon icon-twitter-square " aria-hidden="true"></i>
		</a>
	{% endif %}
	{% if 'pinterest' in fields %}
		{# PINTEREST #}
		<a class="{{btn_cls}}" target="_blank" title="Pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media={{ thumbnail }}&url={{ link }}&description={{ title }}">
			<i class="icon icon-pinterest-alt" aria-hidden="true"></i>
			<span class="sr-only">分享到pinterest</span>
		</a>
	{% endif %}
</div>
